#Api source timeout setting

apisource.readTimeout {

   enable = {{enable}}

   value = {{value}} // In seconds

}
play.server.http.idleTimeout = {{idleTimeout}} seconds
play.http.parser.maxMemoryBuffer = {{maxMemoryBuffer}}
silhouette.cookie.authenticator.cookieName = {{cookieName}}
secureSignUp = {{secureSignUp}}
